<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2>Screen Wave</h2>
            <p>&copy; 2024 ScreenWave. All rights reserved.</p>
        </div>
        <div class="footer-section links">
            <h3>Quick Links</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="movies">Movies</a></li>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-section social" style="margin-top: 13px ;">
            <h3>Follow Us</h3>
            <a href="#"><img class="icons" style="border-radius: 17px;" src="../../assets/facebook.png" alt="Facebook"></a>
            <a href="#"><img class="icons" src="../../assets/X.png" alt="X"></a>
            <a href="#"><img class="icons" src="../../assets/instagram.png" alt="Instagram"></a>
        </div>

    </div>
</footer>