<!-- about.component.html -->

  <div class="about-container">
    <div class="about-content">
      <h1 class="about-title">About Screen Wave</h1>
      <p class="about-description">
        Welcome to Screen Wave! We are dedicated to bringing you the best of movies with our extensive database sourced
        from TMDB.
        At Screen Wave, you can explore a wide range of movies, including popular, top-rated, and upcoming films. Our
        platform allows you
        to create and manage your own custom favorite movie list, giving you the power to curate your personal
        collection.
        Whether you're looking for the latest blockbusters or hidden gems, Screen Wave has something for every movie
        enthusiast.
        Enjoy browsing and adding movies to your favorite list, and keep track of your top picks all in one place.
      </p>
    </div>
  </div>
